body {
  background-color: #343436;
  margin: 0;
  font-family: Raleway;
  font-size:30px;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.card {
    text-align: center;
}
#contact {
    text-align:center;
}
.content-wrap {
    background-color: #2f2f31;
}
.home {
    position: relative;
}

.home img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    bottom: 0;
}
.text {
    position: absolute;
    top: 15%;
    left: 20%;
    transform: (-50%, -50%);
    color: white;
    font-size: 50px;
}
.proj-nav {
    font-size: 14px;
}
.card-img-top {
    max-width:650px;
    max-height:500px;
}
.nav li a {
    text-decoration: none;
    color:white;
}

.parent {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.parent:nth-of-type(odd) > div:last-child {
    order : -1;
}
.child {
    float: right;
}
.child, .child2 {
    padding: 5%;
    flex-basis: 50%;
}

.card-title {
    color: #f3c26b;
    padding: 0 10% 0 10%;
}

.card-block {
    margin-bottom: 30px;
}

.card-text {
    margin-top: 20px;
    padding: 0 10% 0 10%;
}

.card-img-top {
  opacity:1;
  transition: 1s ease;
}
  
.card-img-top:hover{
  opacity:0.5;
  transition: 1s ease;
}

.fixed-top {
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index:1;
}
.nav-fixed {
    background: #343436;
    border-bottom: 1px solid #29292d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width:100%;
}
.nav {
    font-size: 20px;
    display: flex;
    height: 100%;
    flex: 0 0 25%;
    align-items: center;
    justify-content: center;
  }

.p1,.p2 {
    margin-right: 10px;
}

.nav-link {
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
    line-height: 1.4em;
    font-size: 1.2em;
    border-bottom: 3px solid rgba(221, 221, 221, 0.4);
}

.about-text {
    color: white;
}

ul {
  padding-left:0;
}

li {
  display:inline-block;
}

.fab {
  margin-right:20px;
}

.nav-link li {
    display: flex;
    justify-content: center;
}

a {
   color:black;
}

a:hover:after {
    width: 0%;
}

.nav-wrap {
    flex: 1;
    height: 50px;
}

.home-links{
    margin-top:15px;
}
  
.social-links {
    font-size: 1em;
    margin-right: 5px;
    color:#9b9b9b;
}

.social {
    color: #9b9b9b;
}

.clear-padding {
    padding: 0 !important;
}

#about {
    margin: 0 5% 0 5%;
    width: 90%;
    padding: 35px 0 35px 0;
}
#projects{
    background-color: #2f2f31;
}

.fab{
    margin: 0px;
}

.profile-container::before {
    content: " ";
    display: block;
    background: #f3c26b;
    width: 100%;
    height: 2px;
    top: 7px;
    left: 0;
}

.project-desc-hidden {
    display: none;
}

.project-desc{
    display: inherit;
}

footer {
    display: flex;
    height: 75px;
    justify-content: center;
}
  
footer p {
    font-size: 0.8em;
    align-self: center;
}

.technologies {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.technologies > div {
    border : 1px solid white;
    text-align: center;
    width: 24%;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 10px;
}

#contact {
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 0 10% 0 10%;
}

.form-header {
    color: #f3c26b;
}

.form-header, .subject, .message {
    flex-basis: 100%;
}

.contact-info {
    display: flex;
}

.contact-info > .name, .contact-info > .email {
    flex-basis: 50%;
}

#name, #email {
    width: 90%;
    height: 30px;
}

#subject {
    width: 95%;
    height: 30px;
}

#message {
    width: 95%;
    height: 150px;
    resize: none;
}

#name, #email, #subject, #message {
    padding: 5px;
    margin-bottom: 10px;
    background: #2f2f31;
    border: 1px solid #29292d;
    color: white;
    font-size: 16px;
}

.submit {
    width: 96%;
    margin: auto;
    background-color: #f3c26b;
    margin-bottom: 30px;
    cursor: pointer;
    border-style: none;
    height: 40px;
}

@media  (max-device-width: 1300px) {
    .parent{
        display: block;
    }
    .child{
        float: none;
        text-align: center;
    }
    .child2 {
        padding: 0 5% 0 5%;
    }
    .parent { flex-wrap: wrap;  }
    .item:first-child { flex-basis: 100%; }
    .project-desc{
        display: none;
    }
    .project-desc-hidden {
        display: inherit;
        padding: 10px;
    }
    .technologies{
        margin-top: 0px;
    }
    .card-title{
        margin-top: 20px;
        text-align: center;
    }
}